*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# VS Code
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
out/

# Android Studio
*.hprof
